<footer class="Yayul_footer">
    <a class="fa fa-rss Yayul_footer__subscribe" target="_blank" href="{{@blog.url}}/rss/">
        <span class="Yayul_hidden">Subscribe!</span>
    </a>

    <div class="Yayul_footer__text">
        All content copyright <a href="/">{{@blog.title}}</a> &copy; 2016 &bull; All rights reserved.
    </div>

    <div class="Yayul_footer__text">
         Build using <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a>, Yayul theme and some crushed dreams ;_;
    </div>
</footer>
