{{!< default}}
{{> header}}


<main class="Yayul_main" role="main" id="content">
    {{> post_list }}

    {{#if pagination}}
        <div class="Yayul_pagination">
            {{{pagination}}}
        </div>
    {{/if}}
</main>


{{> footer}}
