body {
  margin: 0;
  font-size: .9em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a:focus {
  outline: none;
}

hr {
  border-color: @separator_color;
  border-style: solid;
}

pre {
  font-size: .8em;
}

.Yayul_main {
  margin: 2em auto 2em auto;
  width: 100%;
  position: relative;
  max-width: @readable_width;

  @media @tablet {
    max-width: 90vw;
  }
}

.Yayul_hidden {
  display: none;
}
