/* Typography vars */
@default_font: 'Open Sans', Arial, Helvetica, sans-serif;
@header_fontsize: 3.5em;
@post_fontsize: 1.2em;

/* Layout vars */
@golden_ratio: 1.618;
@readable_width: 48em;
@content_padding: 5 * @golden_ratio;
@post_title_overflow: 9;

/*  Colors */
@white_text: white;
@light_text: #a0a0a0;
@dark_text: #303030;
@separator_color: #E7EEF2;


@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (max-width: 900px)";
